@import "tailwindcss";

:root {
  --background: #ffffff;
  --highlight: #BF9278;
  --highlight-hover: #a07a64;
  --title: #8C4C35;
  --buttonText: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-button: var(--highlight);
  --color-hover: var(--highlight-hover);

  --color-title: var(--title);

  --color-buttonText: var(--buttonText);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
